@charset "utf-8";
   
body{background-color: #B44042;
	font-family:arial, helivetica ;background:#C7DFFF;
}

.menu{
	list-style:none ;
	padding: 100;
	background: #092327;
	width: 43%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #2BC9BD;
}